
@{
    ViewData["Title"] = "Destinos";
}

<main>
    <h2>Destinos Nacionais e Internacionais</h2>
    <div class="container d-flex flex-wrap justify-content-center py-4">
        <div class="card m-2" style="width: 18rem;">
            <img
                class="card-img-top"
                src="~/img/veneza.jpg"
                alt="Card image cap"
            />
            <div class="card-body">
                <p class="card-text">
                    Veneza, a capital da região de Vêneto, no norte da Itália, é formada por mais de 100 pequenas ilhas em uma lagoa no Mar Adriático.
                </p>
            </div>
        </div>
        <div class="card m-2" style="width: 18rem;">
            <img
                class="card-img-top"
                src="~/img/ny.jpg"
                alt="Card image cap"
            />
            <div class="card-body">
                <p class="card-text">
                    A cidade de Nova York compreende 5 distritos situados no encontro do rio Hudson com o Oceano Atlântico. No centro da cidade fica Manhattan, um distrito com alta densidade demográfica.
                </p>
            </div>
        </div>
        <div class="card m-2" style="width: 18rem;">
            <img
                class="card-img-top"
                src="~/img/toronto.jpg"
                alt="Card image cap"
            />
            <div class="card-body">
                <p class="card-text">
                    Toronto, a capital da província de Ontário, é uma grande cidade canadense localizada ao longo da costa noroeste do Lago Ontário.
                </p>
            </div>
        </div>
        <div class="card m-2" style="width: 18rem;">
            <img
                class="card-img-top"
                src="~/img/rio-de-janeiro.jpg"
                alt="Card image cap"
            />
            <div class="card-body">
                <p class="card-text">
                    O Rio de Janeiro é uma grande cidade brasileira à beira-mar, famosa pelas praias de Copacabana e Ipanema, pela estátua de 38 metros de altura do Cristo Redentor.
                </p>
            </div>
        </div>
        <div class="card m-2" style="width: 18rem;">
            <img
                class="card-img-top"
                src="~/img/fernando-de-noronha.jpg"
                alt="Card image cap"
            />
            <div class="card-body">
                <p class="card-text">
                    Fernando de Noronha é um arquipélago vulcânico situado a cerca de 350 quilómetros ao largo da costa nordeste do Brasil. Tem o nome da sua maior ilha, um parque marinho e santuário.
                </p>
            </div>
        </div>
        <div class="card m-2" style="width: 18rem;">
            <img
                class="card-img-top"
                src="~/img/foz_do_iguacu.jpg"
                alt="Card image cap"
            />
            <div class="card-body">
                <p class="card-text">
                    Foz do Iguaçu, cidade no estado brasileiro do Paraná, é a principal base para visitar as famosas Cataratas do Iguaçu, uma das maiores cachoeiras do mundo.
                </p>
            </div>
        </div>
    </div>
</main>
