@{
    ViewData["Title"] = "Home Page";
}

<main>
    <h2>Home</h2>        
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="height: 60%;">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="~/img/img1.jpg" alt="First slide"/>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/img/img2.jpg" alt="Second slide"/>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/img/img3.jpg" alt="Third slide"/>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</main>
<section class="container d-flex sessao">
    <aside class="descricao">
        <h2 style="color: #3772da; font-family: ariel; font-weight: bold; font-size: 2.5rem;">Monteiro viagens</h2>
        <p>
            Equipe Qualificada para
            Encontrar o Pacote Ideal para Sua
            Viagem dos Sonhos. Está
            Organizando uma Viagem e ainda
            Não Escolheu o Destino? Fale com
            a Nossa Agência.
        </p>
        <p>
            <strong>Missão:</strong> Agenciar as soluções de
            turismo que melhor atendam as
            necessidades de nossos clientes
            com segurança, agilidade e
            conhecimento.
        </p>
        <p>
            <strong>Visão:</strong> Ser reconhecida pelos
            nossos clientes, equipe e
            fornecedores como agência de
            viagens com inovação e alta
            tecnologia.
        </p>
        <p>
            <strong>Valores:</strong> Comprometimento com
            os nossos clientes, equipe e
            parceiros através:
        </p>
        <ul>
            <li>
                confiabilidade pelos serviços prestados
            </li>
            <li>interação Interpessoal</li>
            <li>equidade de oportunidades</li>
            <li>simplicidade com profissionalismo</li>
            <li>inovação como fortalecimento para o futuro</li>
            <li>respeito nas relações comerciais</li>
            <li>sucesso de pessoas e de empresas</li>
        </ul>

        WWW.MONTEIROVIAGENS.COM.BR
    </aside>
    <article class="conteudo d-flex flex-wrap container align-items-center justify-content-around">
        <div class="circulo">SEGURANÇA</div>
        <div class="circulo">QUALIDADE</div>
        <div class="circulo">CONFORTO</div>
        <div class="circulo">SONHOS</div>
        <div class="circulo">FELICIDADE</div>
        <div class="circulo">MOMENTOS</div>
    </article>
</section>
