@{
    ViewData["Title"] = "Promocoes";
}

<main>
<h2>Promoções</h2>
    <div class="container d-flex flex-wrap justify-content-center py-4">
        <div class="card m-2" style="width: 18rem;">
            <img
                class="card-img-top"
                src="~/img/canada.jpg"
                alt="Card image cap"
            />
            <div class="card-body">
                <h5 class="card-title">Canadá</h5>
                <p class="card-text">
                    Hospedagem + café da manhã
                </p>
                    <div class="preco">
                        Preço:
                        <span class="preco"> R$ 1399,00 </span>
                        <br />
                        <br />
                        <br />
                    </div>

                <a href="#" class="btn btn-primary">
                    Comprar
                </a>
            </div>
        </div>

        <div class="card m-2" style="width: 18rem;">
            <img
                class="card-img-top"
                src="~/img/franca.jpg"
                alt="Card image cap"
            />
            <div class="card-body">
                <h5 class="card-title">França</h5>
                <p class="card-text">
                    Hospedagem + café da manhã
                </p>
                    <div class="preco">
                        Preço:
                        <span class="preco"> R$ 1499,00 </span>
                        <br />
                        <br />
                        <br />
                    </div>
                <a href="#" class="btn btn-primary">
                    Comprar
                </a>
            </div>
        </div>

        <div class="card m-2" style="width: 18rem;">
            <img
                class="card-img-top"
                src="~/img/japao.jpg"
                alt="Card image cap"
            />
            <div class="card-body">
                <h5 class="card-title">Japão</h5>
                <p class="card-text">
                    Hospedagem + café da manhã
                </p>
                    <div class="preco">
                        Preço:
                        <span class="preco"> R$ 1899,00 </span>
                        <br />
                        <br />
                        <br />
                    </div>
                <a href="#" class="btn btn-primary">
                    Comprar
                </a>
            </div>
        </div>

        <div class="card m-2 mb-4" style="width: 18rem;">
            <img
                class="card-img-top"
                src="~/img/portugal.jpg"
                alt="Card image cap"
            />
            <div class="card-body">
                <h5 class="card-title">Portugal</h5>
                <p class="card-text">
                    Hospedagem + café da manhã
                </p>
                    <div class="preco">
                        Preço:
                        <span class="preco"> R$ 1299,00 </span>
                        <br />
                        <br />
                        <br />
                    </div>
                <a href="#" class="btn btn-primary">
                    Comprar
                </a>
            </div>
        </div>

        <div class="card m-2 mb-4" style="width: 18rem;">
            <img
                class="card-img-top"
                src="~/img/russia.jpg"
                alt="Card image cap"
            />
            <div class="card-body">
                <h5 class="card-title">Russia</h5>
                <p class="card-text">
                    Hospedagem + café da manhã
                </p>
                    <div class="preco">
                        Preço:
                        <span class="preco"> R$ 1799,00 </span>
                        <br />
                        <br />
                        <br />
                    </div>
                <a href="#" class="btn btn-primary">
                    Comprar
                </a>
            </div>
        </div>

        <div class="card m-2 mb-4" style="width: 18rem;">
            <img
                class="card-img-top"
                src="~/img/mexico.jpg"
                alt="Card image cap"
            />
            <div class="card-body">
                <h5 class="card-title">México</h5>
                <p class="card-text">
                    Hospedagem + café da manhã
                </p>
                    <div class="preco">
                        Preço:
                        <span class="preco"> R$ 1199,00 </span>
                        <br />
                        <br />
                        <br />
                    </div>
                <a href="#" class="btn btn-primary">
                    Comprar
                </a>
            </div>
        </div>
    </div>
</main>
